@model IEnumerable<MedicalStoreWebAPI.Models.Medicine>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p>
    <a href="@Url.Action("Create","MedicineMVC")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
    <a href="@Url.Action("History","MedicineMVC")" class="btn btn-default"><i class="fa fa-history"></i> History</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Srock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Srock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="@Url.Action("Edit", "MedicineMVC", new { id = item.MedicineID})" class="btn btn-default"><i class="fa fa-pencil"></i>  Edit</a>
                <a href="@Url.Action("Delete", "MedicineMVC", new { id = item.MedicineID})" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
                <a href="@Url.Action("Buy", "MedicineMVC", new { id = item.MedicineID})" class="btn btn-default"><i class="fa fa-shopping-bag"></i>  Buy</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
    }